html,
body {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

section {
	margin-bottom: $cx-section-spacing;
	display: block;
	width:100%;
	float:none;
	clear:both;
}


.lead {
	font-size: 19px;
}

.pswp__caption__center {
	i {
		display: none;
	}

	.primary-title {
		color: lighten($cx-primary-color, 100%);
		display: block;
		text-align: center;
		font-size: 18px;
		text-transform: capitalize;
	}
}
