.about {
	@extend %vpadding;
	padding-bottom:0;
}


.promo-wrapper {
	img {
		max-width:100%;
		margin-bottom: 15px;
	}
    @include media-only(992px, max){
        img {
			width: 100%;
        }
    }
}