.blog-section{

}
.blog-item {
	.post-content {
	    padding:30px;
	    border: 1px solid $cx-border-color;
	    border-top: 0px solid ;
	    @extend %transition-all ;
	    
	    p{
	    	margin:  0 ;
	    }
	}
	.default-btn{
		display: none;
		background: transparent;
		color: $cx-text-color ;
	    border: 1px solid $cx-border-color;
		&:hover{
			background:$cx-secondary-color ;
			color: lighten($cx-text-color , 100%) ;
	    	border-color: $cx-secondary-color;

		}
	}
	&:hover{
		.post-content {
			border-color: $cx-secondary-color;
		}
	}

	@include respond-to(mobile) {
		margin-bottom: $cx-col-spacing;
	}


}
.post-image{
	position:relative ;
	img{
		width: 100% ;
	}
	.post-date{
		position: absolute;
		top: 15px;
		left: 15px;
		color: lighten($cx-text-color , 100%);
		text-align: center;
		overflow: hidden;
	}
	.date,.month{
		display: block;
		background: $cx-tertiary-color;
		font-size: 24px;
    	padding: 5px 12px;
	}
	.date{

	}
	.month{
		background: darken($cx-tertiary-color , 20%);
		font-size: 16px;
	}
}
.post-title{
	a{
		font-size: 20px;
	}
}



