.reasons-to-choose {
	.thumb-icon {
		// margin-bottom: 7px;
		i{
			font-size: 60px;
			border:0;
		}
	}

}


.reasons-to-choose {
	margin-bottom: 30px;
	.slick-dots li.slick-active button:before {
		color: $cx-secondary-color;
		opacity: 1;
	}
	.slick-dots li {
		margin:0;
		button {
			&:before{
				font-size: 12px;
			}
			&:hover:before{
				color: $cx-secondary-color;
			}
		}
	}

	
}