.contact-us {
	background: lighten($cx-text-color, 100%);
	.container {
		margin-top: -200px;
		.contact-info-wrapper,
		.form-wrapper {
			background: #fff;
			padding-top:30px;
			padding-bottom: 30px;
		    overflow: hidden;
		}
	    @include media-only(992px, $type: max) {
			.contact-info-wrapper,
			.form-wrapper {
				text-align: center;
				h3 {
					margin-bottom: 40px;
				}
			}
	    }
	}

	input[type="submit"] {
		width:100%;
		@include respond-to(tablet) {
			width: 35%;
		}
	}

    .contact-info-wrapper {
	    @include respond-to(tablet) {
			max-width: 80%;
		    margin-left: auto;
		    margin-right: auto;
	    }
	}

	.form-wrapper {
		h3 {
			padding-left: 15px;
		}
	    @include respond-to(tablet){
	    	margin-bottom: $cx-col-spacing;
			h3 {
				padding-left: 0;
			}
	    }
	}

	.contact-box {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-bottom:25px;
		.thumb-icon {
			width: 40px;
		}
		a {
			color: $cx-text-color;
			&:hover {
				color: $cx-secondary-color;
			}
		}
	}

    @include media-only(992px, $type: max){
		.contact-box {
			padding-top: 15px;
			.thumb-icon {
			    display: block;
			    margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 15px;
			}
			.contact-item-wrapper {
				display: block;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
    }
}

// .contact-form-field {
// 	input[type=submit]{
// 		color:lighten($cx-text-color,100%);
// 		width:100%;
// 		padding: 15px 25px;	
// 		&:hover{
// 			background:  $cx-secondary-color ;

// 		}
// 	}
// }