.contact-us {
	background: lighten($cx-text-color, 100%);
	.container {
		margin-top: -200px;
		.contact-info-wrapper,
		.form-wrapper {
			background: #fff;
			padding-top:30px;
			padding-bottom: 30px;
		}
	}

	.form-wrapper {
		h3 {
			padding-left: 15px;
		}
	}

	.contact-box {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-bottom:25px;
		.thumb-icon {
			max-width:25px;
		}
	}
}

.contact-form-field {
	input[type=submit]{
		color:lighten($cx-text-color,100%);
		padding: 15px 25px;	
		&:hover{
			background:  $cx-secondary-color ;

		}
	}
}