.contact-us {
	background: lighten($cx-text-color, 100%);
	.container {
		margin-top: -200px;
		.contact-info-wrapper,
		.form-wrapper {
			background: #fff;
			padding-top:30px;
			padding-bottom: 30px;
		    overflow: hidden;
		}
	    @include respond-to(tablet){
			.contact-info-wrapper,
			.form-wrapper {
				text-align: center;
				h3 {
					margin-bottom: 40px;
				}
			}
	    }
	}

	.form-wrapper {
		h3 {
			padding-left: 15px;
		}
	    @include respond-to(tablet){
	    	margin-bottom: $cx-col-spacing;
			h3 {
				padding-left: 0;
			}
	    }
	}

	.contact-box {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-bottom:25px;
		.thumb-icon {
			width: 40px;
		}
		a {
			color: $cx-text-color;
			&:hover {
				color: $cx-secondary-color;
			}
		}
	}
    @include respond-to(tablet){
		.contact-box {
			display: inline-block;
			float: left;
			width: 33.33%;
			.thumb-icon {
				padding-right: 60px
			}
		}
    }
}

.contact-form-field {
	input[type=submit]{
		color:lighten($cx-text-color,100%);
		padding: 15px 25px;	
		&:hover{
			background:  $cx-secondary-color ;

		}
	}
}