.call-to-action {
    // background: #000;
    padding: 70px 0;
    position: relative;
    overflow: hidden ;
    &:after , &:before{
    	@include  absolute-position(0,51%,0,-100px);
    	transform: skewX(-35deg);
        @include respond-to(mobile){
            right: 0;
            left: 0 ;
            transform: skewX(0);
        }
    }
    &:after {
        background-image:url(../img/counter-up.jpg);
    }
    &:before{
    	left:51%;
    	right: -100px;
		background:darken($cx-primary-color,25%) ;
        @include respond-to(mobile){
            display: none;
        }
    }
}

.cta-left-side,
.cta-right-side{
	width:50%;
	position:relative;
	z-index: 1;
    float: left;
    h2{
        color: $cx-body-bg-color ;
        font-size: 24px;
        text-transform: uppercase;
    }
}
.cta-left-side{
    padding:0 50px;
    @include respond-to(mobile){
        width: 100% ;
        text-align: center;
    }
}
.cta-right-side{
    @include respond-to(mobile){
        width:100%;
        text-align: center;
        padding: 0 15px ;
    }

	float:right ;
    padding-left: 15%;
   
    a{
        color: $cx-secondary-color ;
        font-size: 24px;
    }
}