footer{
	padding-top: $cx-section-spacing;
	background: #f1f1f1;
	color: lighten($cx-text-color, 100%);
	text-align: center;
}

.footer-top {
	padding-bottom:0.5*$cx-section-spacing;
	a {
		display: block;
		max-width:80px;
	}
	img {
		@extend .center-block;
		width:100%;
	}

	.socials {
		
		margin-top: $cx-heading-margin-bottom;
		a {
			@include box(30px);
			display: inline-block;
			border:1px solid $cx-border-color;
			margin:5px;
		}
	}
}



.copyright-section{
	position:relative;
	text-align: center;
    padding: 20px 15px;
    background: $cx-tertiary-color;
    p{
    	margin: 0;
    	color: lighten($cx-text-color, 100%);
    }

    a {
    	color: $cx-secondary-color;
    }
}
