
.navbar {
	position: relative;
	z-index: 1;
}

.main-menu {
	width:100%;
	text-align: right;
	padding:0;
	margin:0;
	li {
		font-family: $cx-heading-font;
		list-style-type: none;
		display: inline-block;
		a {
			text-transform: uppercase;
			padding:10px 15px;
			display: block;
			color: lighten($cx-text-color, 100%);
		}
	}
}
