.products {
	@extend %vpadding;
	background: lighten($cx-primary-color, 30%);
}



.recent-project{

	.portfolio {
		@extend %padding-0;
	}
	.col-xs-6{
		@include media-only(small-mobile, $type: max){
	    	width:100%;
		}
	}
}

.project-item {
	position:relative;
	cursor:pointer;
	.img{
		display: block;
		position:relative;
		&:before{
			@include  absolute-position(0,0,0,0);
		    // background: rgba(0, 0, 0, 0.76);
		    background:  rgba(darken($cx-text-color,100%), 0.76);
		    color: #fff;
		    opacity: 0 ;
			@extend %transition-all ;
			// @include respond-to(mobile){
			// 	 opacity: 1;
			// 	 @include  absolute-position(10px,10px,10px,10px);
			// };
		}
		img{
			width: 100% ;
			// -webkit-transform: scale(1.006);
			// -moz-transform: scale(1.006);
			// -ms-transform: scale(1.006);
			// -o-transform: scale(1.006);
			// transform: scale(1.006);
		}
	}
	&:hover{
		.img {
			&::before{
				 @include  absolute-position(0,0,0,0);
				opacity: 1 ;
			}
		}
		.project-content{
			opacity: 1 ;
		}
	}

}


.product {
	//@extend %padding-0;
	padding:5px;
}

.project-content {
	opacity:0 ;
	color: #fff ;
	@include position-center(both);
	max-width: 80%;
	text-align: center;
	@extend %transition-all ;
		// @include respond-to(mobile){
		// 	 opacity: 1;
		// };
	.primary-title {
		text-transform: uppercase;
		position:relative;
		margin-bottom: 10px;
		padding-bottom: 13px;
		font-size: 18px;
		letter-spacing: 3px;
	    margin-top: 7px;
	    display: inline-block;
		&:after{
			height: 3px;
		}
		color: $cx-secondary-color;
		@include respond-to(small-mobile) {
		    font-size: 14px;
		    letter-spacing: normal;
		    line-height: 18px;
		}
	}
	
	a{
		color:$cx-secondary-color ; 
	}


	i {
		@include box(60px);
		font-size: 44px;
		@include respond-to(small-mobile) {
			@include box(40px);
			font-size: 32px;
		}
	}
}

.portfolio-filter ul li {
	cursor: pointer;
	

}