
.testimonial{
	background-image:url(../img/testimonial.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@extend %vpadding;
	@extend %mb0;
	@include section-overly( linear-gradient(to left , $cx-primary-color, rgba($cx-text-color,0.8)));

}

.testimonial-wrap {
    text-align: center;
}
.testimonial-wrap{
	.secondary-title{
		color: $cx-body-bg-color;
	}
	.testimonial-item{
		p{
			color: #fff ;
		}
		
	}
	.client-name{
		margin:0 ;
		color: #fff ;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	.website-link{
		margin:0 ;
		a{
			color: #26a6cd ;
		}
	}

}
.testimonial-carousel{
	margin-bottom: 20px;
	.comment-icon i {
	    color: #fff;
	    font-size: 30px;
	}
}
.client-meta{
	margin-top:35px;
}
.testimonial-nav{
	max-width:400px;
	margin: 0 auto ;
	.slick-list{
		min-height:80px;
	}
	.slick-track {
	    margin-top: 15px;
	}
	
	.slick-center{
		img{
			transform: scale(1.3);
		}
	}

	.slick-slide {
		visibility: hidden;
		transition: all .3s;
		opacity:0;
	}

	.slick-slide.slick-active {
		visibility: visible;
		opacity:1;
	}
}
.nav-img{
	img{
		width: 54px;
		height: 54px;
		border-radius: 50%;
		margin-left: auto;
    	margin-right: auto;
    	@extend %transition-all ;
    	cursor: pointer;
	}
}

.comment-icon {
    margin-bottom: 35px;
}

