.validation-process {

	.process-wrapper {
		position: relative;
		padding: 30px;
		background: url('../../assets/img/validation.jpg') no-repeat scroll center;
		background-size: cover;
		overflow: hidden;
		&::before {
			content:"";
			position: absolute;
			width:100%;
			height:100%;
			display: block;
			background: #fff;
			opacity:.75;
			left:0;
			top:0;
		}
		@include respond-to(mobile) {
		    height: 450px !important;
		}

		.process-desc {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			@include respond-to(mobile) {
				width: 100%;
			    text-align: center;
			    margin-left: -30px;
			    margin-top: 15px;
			}
		}

		.primary-list {
			li {
				@include respond-to(mobile) {
				    float: none;
				    display: block;
				    text-align: center;
				    width: 100%;
				    margin-right: auto;
				    margin-left: auto;
				    line-height: 1.7em;
				}
			}
		}
	}

	.process-slide {
		@extend %padding-0;
		.slide-single {
			width:100%;
		}

	}

    @include respond-to(tablet){
    	margin-bottom: $cx-col-spacing;
    }



}

.max-slides {
	width:100%;
	img {
		max-width:100%;
	}

	.slick-arrow {
		position: absolute;
		width:40px;
		height:40px;
		line-height: 40px;
		text-align: center;
		background: lighten($cx-text-color, 100%);
		background: rgba($cx-primary-color,0.8);
		color: lighten($cx-text-color, 100%);
		bottom:0;
		z-index: 1;
		cursor:pointer;
		font-size: 20px;
		@include transition-all(all .3s);
		&.arrow-prev {
			right:0px;
		}

		&.arrow-next {
			right:43px;
		}
		&:hover {
			background: $cx-secondary-color;
		}
	}
}