.validation-process {

	.process-wrapper {
		position: relative;
		padding: 30px;
		background: url('../../assets/img/showcase.jpg') no-repeat scroll center;
		background-size: cover;
		overflow: hidden;
		&::before {
			content:"";
			position: absolute;
			width:100%;
			height:100%;
			display: block;
			background: #fff;
			opacity:.90;
			left:0;
			top:0;
		}

		.process-desc {
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
	}

	.process-slide {
		@extend %padding-0;
	}
}