/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.
*/
//Import Component files

@import 'slick-global';
@import 'breadcrumb';
@import 'back-to-top';
@import 'button';
@import 'title-bar';
@import 'secondary-title';
@import 'primary-title';
@import 'section-title';
@import 'counter';
@import 'service';
@import 'social-icon';
@import 'slick-dots';
@import 'phone';
@import 'address';
@import 'widgetized-menu';
@import 'team-member';
@import 'contact-box';
@import 'progressbar';
@import 'processing-columns';
@import 'client-list';




