div#toTop {
    position: fixed;
    background: $cx-primary-color;
    text-align: center;
    right: 20px;
    bottom:15px;
    cursor: pointer;
    display: none;
    @include box(36px);
    @include transition-all(all .3s);
    &:hover {
        background: $cx-secondary-color;
    }
}