div#toTop {
    position: absolute;
    top: -25px;
    background: $cx-tertiary-color;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    @include border-radius(50%);
}