
// default-btn

.default-btn{
	line-height: 100%;
	@include button(12px 35px , 0px solid  $cx-border-color ,$cx-body-bg-color);
	text-transform:uppercase;
	margin-top: 0;
	background:$cx-primary-color ;
	@include respond-to(mobile){
		padding:10px;
		font-size: 14px;
	};
	&:hover{
		border-color:darken($cx-border-color,1.5%) ;
		color: $cx-body-bg-color ;
	}
	i{
		margin-left: 5px;
	}
}
input.default-btn{
	@include button(12px 35px , 0px solid  $cx-border-color ,$cx-body-bg-color);
}

.skew-right{
	position:relative;
	z-index: 1 ;
	overflow:hidden ;
	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0 ;
		bottom: 0 ;
		background:darken($cx-primary-color,25%) ;
		transform-origin: center;
		z-index: -1 ;
		@extend %transition-all ;
		
		transform: scaleX(0) skew(40deg);


	}
	
	&:hover{
		border-color:darken($cx-border-color,1.5%) ;
		color: $cx-body-bg-color ;
		&:before{
			// transform: scaleX(0) skew(40deg);
			transform: scaleX(1) skew(-40deg);

		}
	}
}

.skew-left{
	@extend .skew-right ;
	&:before{
		transform: scaleX(0) skew(40deg);

	}
	&:hover{
		&:before{
			transform: scaleX(1) skew(40deg);	
		}
	}
}


