#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: url(../../assets/img/bars.svg) no-repeat center center;
    background-color: #fff;

}