.section-title{
	text-align:center;
	display: block;
    max-width: 70%;
    margin: 0px auto 2*$cx-heading-margin-bottom;

    @include respond-to(tablet) {
    	max-width:85%;
    }
    @include respond-to(mobile) {
    	max-width:95%;
    }

    h2 {
    	@extend .primary-title;
    }
}



.section-title-left {
    @extend .section-title;
    max-width:100%;
    text-align: left;
    @include respond-to(tablet) {
        max-width:100%;
    }

    @include respond-to(mobile) {
        max-width:100%;
    }
}