.info-item {
	text-align:center;
	margin-bottom: 1.8*$cx-heading-margin-bottom;
	.thumb-icon {
		line-height: 0;
		margin-bottom: 0.8*$cx-heading-margin-bottom;
		i {
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
		    border: 1px solid $cx-border-color;
	    	color: $cx-text-color;
	    	text-align: center;
		    &::after{
		    	content: "";
		    }
		}
	}

	.info-content {
		p:last-child{
			margin: 0;
		}
	}

}