.showcase {
    position: absolute;
    padding: 20px;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color:#fff;

    h1 {
    	color: lighten($cx-text-color, 100%);
    }

    p {
        max-width:70%;
        margin-left: auto;
        margin-right: auto;
        @include respond-to(mobile) {
            max-width:95%;
        }
    }

    a {
    	@extend %button;
        text-transform: uppercase;
    	border-color: $cx-primary-color;
    	color: #fff;
        background: $cx-primary-color;
        &:hover {
            background: $cx-secondary-color;
            border-color: $cx-secondary-color;
        }
    }
}