.circle-dot {
	.slick-dots{
		// bottom: -34px;
		 li{
		 	width: auto;
		 	height: inherit ; 
		}
		 button {
		 	position: relative;
		    border-radius: 50%;
		    background: transparent;
		    border: 2px solid #fff;
		    width: 5px;
		    height: 5px;
		    &:before{
				content: "";
			}		}
		li.slick-active button{
			background:#fff ;
			&:before{
				content: "";
			}
		}
	}
	.slick-slide:focus{
	    border: 0;
	    outline: 0;
	}
	.slick-dotted.slick-slider {
	    margin-bottom: 30px;
	    padding-bottom: 25px;
	}
}