
.social-icon {
	overflow:hidden ;
	a{
	    width: $cx-social-icon-size-small;
	    height: $cx-social-icon-size-small;
	    display: inline-block;
	    line-height: $cx-social-icon-size-small;
	    text-align: center;
	    margin-right:5px;
	    background-color:darken($cx-body-bg-color, 10%);
	    color: $cx-text-color ;
	    float: left;
	    @extend %transition-all ;
	    &:hover{
	    	border-color : $cx-secondary-color;
	    	background:$cx-secondary-color;
	    	color: $cx-body-bg-color ;
	    }
	    &:last-child{
	    	margin-right:0px;
	    }
	}

}

.social-icon-large {
	@extend .social-icon;
	a {
		width: $cx-social-icon-size-large;
		height: $cx-social-icon-size-large;
		line-height: $cx-social-icon-size-large;
		margin-right: 2px;
		i {
			font-size: 16px;
			line-height: $cx-social-icon-size-large;
			display: block;
		}
	}

}