.team-member {
	position:relative;
	overflow: hidden;
	.team-image{
		@include section-overly(rgba($cx-secondary-color, 0.9));
		&:before{
			@extend %transition-all ;
			opacity: 0 ;
		}
	}
	img {
		width:100%;
	}
	&:hover{	
		.team-image {
			&:before{
				top: 20px;
				bottom:20px;
				left: 20px;
				right: 20px;
				opacity: 1 ;

			}
		}
		.team-details {
			opacity: 1 ;
		}

	}

	@include media-only(notebook, max) {
		margin-bottom: $cx-col-spacing;
	}
	
}


.team-details{
	@extend %transition-all ;
    padding: 35px 40px;
    position: absolute;
	top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 220px;
    margin: auto;
    opacity: 0 ;
	h2{
		margin-bottom: 7px;
		text-transform: uppercase;
		@include respond-to(tablet){
			font-size: 20px;
		};
	}
	a{
		font-size: 20px;
		color: lighten($cx-text-color,100%);
	}
	p{
		margin-bottom: 0 ;
		text-transform: uppercase;
		font-size: 14px;
		color:  lighten($cx-text-color,100%)  ;

	}
	&.sm-version {
		padding: 55px 0;
		a{
			&:hover{
				// color: $cx-primary-color ;
			}
		}
		text-align:center;
		.social-icon-large {
			margin-top: 8px;
			a {
				border: 0;
				float: none;
				width: auto;
				&:hover{
					background:transparent ;
					border:0 ;
				}
			}
		}
	}
	.social-icon{
		margin-top: 40px;
		a{
			background:transparent ;
			border: 1px solid lighten($cx-text-color,100%);
			@include respond-to(mobile){
				width: 30px;
		    	height: 30px;
		    	line-height: 30px;
		    	margin-right: 6px;
			}
			@include respond-to(notebook){
				
		    	margin-right: 0px;
			}
			+a{
				margin-left: 10px;
				@include respond-to(notebook){
					margin-left: 3px;
				}
				@include respond-to(mobile){
					margin-left: 0px;
			    }
			}
			&:hover{
				background:$cx-primary-color ;
				border: 1px solid $cx-primary-color;
			}
		}
	}
}